@{
    ViewBag.Title = "SportsPro Technical Support";
}

<div>
    <p>Sports management software for the sports enthusiast.</p>
    <h1 class="display-4 mt-3">Admin</h1>
    <ul class="list-group">
        <a asp-area="" asp-controller="Product" asp-action="Index" class="list-group-item list-group-item-action list-group-item-primary">Manage Products</a>
        <a asp-area="" asp-controller="Technician" asp-action="Index" class="list-group-item list-group-item-action list-group-item-primary">Manage Technicians</a>
        <a asp-area="" asp-controller="Customer" asp-action="Index" class="list-group-item list-group-item-action list-group-item-primary">Manage Customers</a>
        <a asp-area="" asp-controller="Incident" asp-action="Index" asp-route-filter="all" class="list-group-item list-group-item-action list-group-item-primary">Manage Incidents</a>
        <a asp-area="" asp-controller="Registration" asp-action="Index" class="list-group-item list-group-item-action list-group-item-primary">Manage Registrations</a>
    </ul>
    <h1 class="display-4 mt-3">Technician</h1>
    <ul class="list-group">
        <a asp-area="" asp-controller="TechIncident" asp-action="Index" class="list-group-item list-group-item-action list-group-item-primary">Update Incident</a>
    </ul>
</div>
