@model Product
@{
    ViewBag.Title = "Delete Product";
}
<h1 class="display-3">@ViewBag.Title</h1>
<p class="fs-3">Do you really want to delete product <span class="fw-bold">@Model.ProductCode</span>?</p>
<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="ProductId" />
    <a asp-controller="Product" asp-action="Index" class="btn btn-dark">Cancel</a>
    <button type="submit" class="btn btn-danger">Delete</button>
</form>