@model Technician
@{
    ViewBag.Title = "Delete Technician";
}
<h1 class="display-3">@ViewBag.Title</h1>
<p class="fs-3">Do you really want to delete Technician <span class="fw-bold">@Model.FullName()</span>?</p>
<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="TechnicianId" />
    <a asp-controller="Technician" asp-action="Index" class="btn btn-dark">Cancel</a>
    <button type="submit" class="btn btn-danger">Delete</button>
</form>