@model Customer
@{
    ViewBag.Title = "Delete SportsPro Customer";
}
<p class="fs-3">Do you really want to delete customer <span class="fw-bold">@Model.FullName</span>?</p>
<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="CustomerId" />
    <a asp-controller="Customer" asp-action="Index" class="btn btn-dark">Cancel</a>
    <button type="submit" class="btn btn-danger">Delete</button>
</form>